.App {
  text-align: center;

  #quote-box {
    padding: 25px;
    margin: 50px;
    background-color: white;
    border-radius: 10px;
    color: black;
    #author {
      text-align: end;
    }
  }

  #tweet-quote {
    float: left;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: white;
    font-size: calc(10px + 1vmin);
  }
  #tweet-quote:hover {
    filter: brightness(110%);
  }
  #new-quote {
    float: right;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: calc(10px + 1vmin);
  }
  #new-quote:hover {
    filter: brightness(110%);
  }
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
